# Игнорируем временные файлы и кэш
*.bak
*.bck
*-bak
*-backups/
*-save.pro
*-save.kicad_pcb
*-save.kicad_sch
fp-info-cache

# Игнорируем пользовательские настройки окна (где какой зум стоял)
*.kicad_prl

# Игнорируем файлы автотрассировщиков (если будешь использовать)
*.dsn
*.ses

# Игнорируем производственные файлы (их всегда можно сгенерировать заново)
gerber/
fabrication/
*.gbr
*.drl
FWR_Production_Control/
FWR_Production_Faceplate/
FWR_Production_Main/
bom/
*.zip

# Игнорируем файлы блокировки KiCad
*.lck
.DS_Store

# Игнорируем картинки и svg графику
*.svg
*.png